@import url(reset.css);

:root {
    --background: #191919;
    --book-border: #373737;
    --button: #2383e2;
    --button-hover: #0077d4;
    --button-active: #006bc7;
    --book-card-title-bg: #262626;
    --book-card-title-bg-hover: #2f2f2f;
    --book-card-bg-hover: #363636;
    --book-card-bg: #2d2d2d;
    --header-bg: #202020;
    --text-color: #d4d4d4;
    --dialog-bg: #202020;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: var(--background);
    color: var(--text-color);
}

main {
    display: grid;
    justify-content: center;
    width: 1145;
    margin-top: 4rem;
}

header {
    background-color: var(--header-bg);
    padding: 2rem 2rem 1rem 2rem;
    display: flex;
    justify-content: space-between;
    border-radius: 30px 30px 0 0;
    border: 1px solid var(--book-border);
    border-collapse: separate;

    h1::before {
        content: "📚 ";
    }
}

.add-btn {
    align-self: center;
    background-color: var(--button);
    border: none;
    color: #e3f1f7;
    display: flex;
    height: 2rem;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 1rem;
    border-radius: 6px;


    &:hover {
        background-color: var(--button-hover);
    }

    &:active {
        background-color: var(--button-active);
    }
}

.book-container {
    min-height: 500px;
    border: 1px solid var(--book-border);
    border-top: none;
    padding: 1rem;

    display: grid;

    grid-template-columns: repeat(3, 360px);
    grid-auto-rows: 242.5px;
    gap: 1rem;
    justify-content: center;
}

.add-cards {
    border: 1px solid var(--book-border);
    border-radius: 10px;
    color: #ffffff48;

    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
        background-color: var(--book-card-bg-hover);
    }

    &:active {
        background-color: #202020;
    }
}

.card {
    border: 1px solid var(--book-border);
    border-radius: 10px;
    color: #ffffff48;

    display: grid;
    grid-template: 1fr 2.5rem / 1fr;

    .img-block {
        border-radius: 10px 10px 0 0;
        background: var(--book-card-bg);
    }

    .desc {
        background-color: var(--book-card-title-bg);
        border-radius: 0 0 10px 10px;
        padding: 0.5rem;
        color: var(--text-color);
    }

    &:hover {
        .img-block {
            background: var(--book-card-bg-hover);
        }

        .desc {
            background-color: var(--book-card-title-bg-hover);
        }
    }
}

dialog {
    padding: 0;
    width: 975px;
    height: 500px;

    justify-self: center;
    align-self: center;

    background-color: var(--dialog-bg);
    border: 1px solid var(--book-border);
    border-radius: 10px;
    outline: none;
    box-shadow: none;

    >.modal-img-block {
        height: 30%;
    }

    >.modal-header {
        background-color: var(--header-bg);
        padding: 2rem 2rem 1rem 2rem;
        color: var(--text-color);
    }

    >.modal-content {
        color: var(--text-color);

        >.book-prop {
            font-size: 1.2rem;
            padding: 1rem 2rem;
            list-style: none;
        }
    }
    
}